.container{
    margin: 20px;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 51, 0);
    padding: 20px;


}

.item{
    margin: 2px;
    background-color: rgb(11, 187, 128);
    width: 25px;
    height: 25px;
  
}
.item1{
       margin: 4px ;
       background-color: green ;
       width: 60%;
       height: 100%;
      disla
     }
.container.item{
    
}